security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

        api_user_provider:
            entity:
                class: App\Entity\User
                property: apiToken

    hide_user_not_found: false

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator:
                - App\Security\UserAuthenticator
                - App\Security\ApiTokenAuthenticator

            form_login:
                login_path: app_home
                check_path: app_login
                default_target_path: app_home
                enable_csrf: true

            logout:
                path: app_logout
                target: app_login
            entry_point: form_login
            user_checker: App\Security\EmailCheckerIsverified

        api:
            pattern: ^/api
            stateless: true
            provider: api_user_provider
            custom_authenticators:
                - App\Security\ApiTokenAuthenticator

    access_control:
        - { path: ^/login_api, roles: PUBLIC_ACCESS }

        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/home, roles: ROLE_USER }
        - { path: ^/api/waiting_ticket_android, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/in_progress_ticket_android, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/resolved_ticket_android, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/open_ticket_android, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
