{
    admin off
    email joeldermont@gmail.com
}

support.joeldermont.fr, www.support.joeldermont.fr {

    @www host www.support.joeldermont.fr
    redir @www https://support.joeldermont.fr{uri} permanent

    root * /app/public
    php_server
    encode gzip
    file_server

    @static path *.css *.js *.jpg *.jpeg *.png *.gif *.ico *.svg *.woff *.woff2
    header @static Cache-Control "public, max-age=31536000"

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Strict-Transport-Security "max-age=31536000"
    }

    respond /health 200
}
