html, body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

html.sr .load-hidden {
    visibility: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/login1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}

.underline:hover {
    text-decoration: underline;
    color: white;
}

.create:hover {
    text-decoration: underline;
    color: #ff9966;
}

.hidden {
    display: none;
}

body:has(.login),
body:has(.reset-mdp),
body:has(.information) {
    overflow: hidden;
}


.error ul {
    list-style-type: none;
}

.input-container {
    background-color: white;
    position: relative;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out;
}

.input-container:hover {
    background-color: #DCDCDC;
}

.input-container:focus-within {
    background-color: #d7d8da;
    box-shadow: 0 0 5px 5px rgba(168, 239, 255, 1);
}

.input-container:not(:hover, :focus-within) .show-password {
    opacity: 0;
}

.match {
    margin-top: 0.9rem;
}

.input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    caret-color: #0F75AD;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.87);
    padding: 20px 16px 6px;
}

.input:focus {
    outline: none;
}

.input:focus + .label,
.input.is-valid + .label {
    transform: translateY(-100%) scale(0.75);
}

.label{
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: #0F75AD;
    transform-origin: left top;
    user-select: none;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1),color 150ms cubic-bezier(0.4, 0, 0.2, 1), top 500ms;
}

label {
    display: none;
}

button {
    all: unset;
}

.bi-eye-slash,
.bi-eye {
    position: absolute;
    top: calc(50% - 12px);
    right: 4px;
    z-index: 9;
    width: 28px;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-size: calc(0.75em + 0.375rem);
}

.bi {
    cursor: pointer;
}

.requirement {
    padding: 0 8px;
    margin: 0;
}

.requirement:before {
    content: '\01F5F4';
    padding-right: 5px;
    font-size: 1.5em;
    position: relative;
    top: .16em;

}

.requirement:not(.valid) {
    color: black;
    font-weight: normal;
}

.requirement.valid {
    color: #83EA06;
}

.requirement.valid:before {
    content: '\01F5F8';
}

.requirement.error {
    color: red;
}

#submit{
    transition: all 0.25s ease-out;
    border-radius: 5px;
    background-color: transparent;
    letter-spacing: 0.05em;
    padding: 0.5rem 2.5rem 0.4rem 2.5rem;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
}

#buttonFooterRegister {
    transition: all 0.25s ease-out;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
    letter-spacing: 0.05em;
    font-weight: bold;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    color: #0F75AD;
}

input#conditions {
    all: unset;
    color: #ff9966;
}

input#conditions:hover {
    text-decoration: underline;
    cursor: pointer;
}

#buttonFooterRegister:hover {
    border-color: transparent;
    background-color: rgba(168, 239, 255, 1);
    color: white;
}

.modal-content.register {
    background-color: #0F75AD;
    color: white;
}

#submit:disabled {
    color: black;
    background-color: darkgray;
    cursor: not-allowed;
    border: none;
}

#submit:hover:not(:disabled), #submit:focus:not(:disabled) {
    box-shadow: inset 0 0 0 2em white;
    border-color: white;
    color: #0F75AD;
}

/* Border animation */
* {
    box-sizing: border-box;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
}

.box {
    border: 0.35rem solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
}

.box:nth-child(2) {
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
    100% {
        --angle: 420deg;
    }
}

@keyframes borderRadial {
    20% {
        --gradX: 100%;
        --gradY: 50%;
    }
    40% {
        --gradX: 100%;
        --gradY: 100%;
    }
    60% {
        --gradX: 50%;
        --gradY: 100%;
    }
    80% {
        --gradX: 0%;
        --gradY: 50%;
    }
    100% {
        --gradX: 50%;
        --gradY: 0%;
    }
}

/* Animation account */

#appUsername {
    transform: translateX(50%);
    transition: transform 0.5s ease-in-out;
}

#appUsername.translated {
    transform: translateX(0);
}


#newName {
    display: none;
}

@keyframes translateX2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(150%);
    }
}

@keyframes translateX  {
    0% {
        opacity: 0;
        transform: translateX(150%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#newName.is-visible {
    animation-name: translateX;
    animation-duration: 750ms;
    animateTransform: ease-in-out;
}

#newName.not-visible {
    animation-name: translateX2;
    animation-duration: 750ms;
    animateTransform: ease-in-out;
}

.new-confirmPassword {
    transform: translateX(150%);
    opacity: 0;
    transition: transform 600ms ease-in-out, opacity 600ms ease-in-out, background-color 200ms ease-in-out;
}

.submitModify {
    transform: translateY(150%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out, background-color 200ms ease-in-out;
}

.new-password {
    transform: translateX(-150%);
    opacity: 0;
    transition: transform 600ms ease-in-out, opacity 600ms ease-in-out, background-color 200ms ease-in-out;
}

.new-password.is-visible, .new-confirmPassword.is-visible {
    transform: none;
    opacity: 1;
}

.submitModify.is-visible {
    transform: none;
    opacity: 1;
}

.requirementPassword {
    opacity: 0;
    transition: opacity 750ms ease-in-out;
}

.requirementPassword.is-visible {
    opacity: 1;
}

.lien {
    transform: translateY(-100%);
}

/* Media queries */
@media (max-width:400px) {

    #appUsername {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        margin-top: 1rem;
    }

    #appUsername.translated {
        transform: translateX(0);
    }

    @keyframes translateX  {
        0% {
            opacity: 0;
            transform: translateX(150%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes translateX2 {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(150%);
        }
    }

    #newName.is-visible {
        animation-name: translateX;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    #newName.not-visible {
        animation-name: translateX2;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    .rowModify {
        margin-top: 2rem;
    }

    .box-register, .box-info {
        margin: 0;
    }

    .email-register1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .email-register2 {
        margin-top: 1rem;
    }

    .match {
        margin-top:0;
    }

    #modifyName {
        margin-top: 1.5rem;
    }

    .mdp {
        font-size: 0.8rem;
    }

}
@media (min-width: 401px) and (max-width: 500px) {

    .match {
        margin-top:0;
    }

    #login {
        width:95%;
    }

    .mdp {
        font-size: 0.8rem;
    }

    #appUsername {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        margin-top: 1rem;
    }

    #appUsername.translated {
        transform: translateX(0);
    }

    @keyframes translateX  {
        0% {
            opacity: 0;
            transform: translateX(150%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes translateX2 {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(150%);
        }
    }

    #newName.is-visible {
        animation-name: translateX;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    #newName.not-visible {
        animation-name: translateX2;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    .rowModify {
        margin-top: 2rem;
    }

    .box-register, .box-info{
        margin: 0;
    }

    .email-register1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .email-register2 {
        margin-top: 1rem;
    }

    #modifyName {
        margin-top: 1.5rem;
    }
}
@media (min-width: 501px) and (max-width: 575px) {

    .match {
        margin-top:0;
    }

    #login {
        width:75%;
    }

    #appUsername {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        margin-top: 1rem;
    }

    #appUsername.translated {
        transform: translateX(0);
    }

    @keyframes translateX  {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes translateX2 {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    #newName.is-visible {
        animation-name: translateX;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    #newName.not-visible {
        animation-name: translateX2;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    .rowModify {
        margin-top: 2rem;
    }

    .box-register, .box-info{
        margin: 0 2rem 0 2rem;
    }

    .email-register1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .email-register2 {
        margin-top: 1rem;
    }

    #modifyName {
        margin-top: 1.5rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) {

    .match {
        margin-top:0;
    }

    #login {
        width:75%;
    }

    #appUsername {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
        margin-top: 1rem;
    }

    #appUsername.translated {
        transform: translateX(0);
    }

    @keyframes translateX  {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes translateX2 {
        0% {
            opacity: 1;
            transform: translateX(0);
        }
        100% {
            opacity: 0;
            transform: translateX(100%);
        }
    }

    #newName.is-visible {
        animation-name: translateX;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    #newName.not-visible {
        animation-name: translateX2;
        animation-duration: 650ms;
        animateTransform: ease-in-out;
    }

    .rowModify {
        margin-top: 2rem;
    }

    .box-register, .box-info{
        margin: 0 2rem 0 2rem;
    }

    .email-register1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .email-register2 {
        margin-top: 1rem;
    }

    #modifyName {
        margin-top: 1.5rem;
    }
}
@media (min-width: 576px) and (max-width: 767px) and (orientation: landscape) {

    .img-fluid {
        max-width: 40%;
        height: auto;
    }

    #login {
        width:70%;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }

    .input {
        padding: 15px 12px 6px;
    }

    .bi-eye-slash,
    .bi-eye {
        top: calc(50% - 10px);
        right: 4px;
        width: 20px;
        height: 20px;
        font-size: calc(0.75em + 0.375rem);
    }
}
@media (min-width: 768px) and (max-width: 1023px) {

    #login {
        width:85%;
    }

    .box-info {
        margin: 0 2rem 0 2rem;
    }

    .box-register {
        margin: 0 8rem 0 8rem;
    }
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    .img-fluid {
        max-width: 45%;
        height: auto;
    }

    #login {
        width:70%;
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }

    .input {
        padding: 15px 12px 6px;
    }

    .bi-eye-slash,
    .bi-eye {
        top: calc(50% - 10px);
        right: 4px;
        width: 20px;
        height: 20px;
        font-size: calc(0.75em + 0.375rem);
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {

    #login {
        width:85%;
    }

    .box-register, .box-info {
        margin: 0 8rem 0 8rem;
    }
}
@media (min-width:1201px) and (max-width: 1399px) {

    #match {
        margin-top: 1rem;
    }

    .img-fluid {
        max-width: 80%;
        height: auto;
    }

    #login {
        width:80%;
    }

    .box-register, .box-info {
        margin: 0 13rem 0 13rem;
    }

}
@media (min-width:1400px) and (max-width: 3840px) {

    #login {
        width: 85%;
    }

    .box-register, .box-info {
        margin: 0 18rem 0 18rem;
    }
}