<h1>INFONEX - Modification mot de passe</h1>

<p>Pour Modifier votre mot de passe, merci de visiter cette page:</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans 1 heure.</p>

<p>Merci</p>
